*{
    padding: 0;
    margin: 0;
}

.stories{
    margin-top: 100px;
    display: flex;
    gap:15px;
    padding: 10px;
}

.logo{
    padding: 0px;
}

.perfil{
    margin-left: 130px;
    justify-content: center;
    background-size: cover;
}
.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.posts{
    height: 300px;
    width: 300px;
}

.cadastro{
    display: inline;
    position: fixed;
    justify-content: center;
}